<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Are you sure you want to delete the following course?</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{course.name}}</td>
        </tr>
        <tr>
          <th>desc</th>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>
    <form class="" action="/courses/keep_record" method="post">
      {% csrf_token %}
      <input id="delete2" type="submit" name="" value="NO">
    </form>
    <form class="" action="/courses/process/{{course.id}}" method="get">
      {% csrf_token %}
      <input id="delete" type="submit" name="" value="Yes! I want to delete this ">
    </form>

  </body>
</html>
